<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=4.7.2"/>
	</startup>
	<connectionStrings>
		<add name="cadena"
			 connectionString="Server=DESKTOP-LT07BHD\MSSQLSERVER1;Database=Negocios;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	
</configuration>